<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body>
<% include partials/header %>
<div class="container">

    <%- body -%>

</div><!-- /.container -->


<footer class="footer">
    <% include partials/footer %>
</footer>
</body>
</html>